#!/bin/bash
export PATH=$PATH:/usr/local/bin
cd {{ projectpath }}
mkdir /tmp/backup_{{ projectname }} -p
docker-compose run --rm --name {{ projectname }}_db_backup db bash -c 'mariadb-dump --host db --databases $MYSQL_DATABASE --user $MYSQL_USER --password=$MYSQL_PASSWORD --port 3306 > /var/lib/mysql/dump.sql'

cd /tmp/backup_{{ projectname }}
git init
git remote add origin {{ backuprepository }}
git pull --no-edit --no-rebase origin master 
rm -Rf /tmp/backup_{{ projectname }}/www
cd {{ projectpath }}
cp db/dump.sql /tmp/backup_{{ projectname }}/
cp www /tmp/backup_{{ projectname }}/ -R
cp .config /tmp/backup_{{ projectname }}/
cd /tmp/backup_{{ projectname }}
touch .gitignore
{% for ignore in backupignores %}
    found=0
    while read line; do if [ "$line" == "{{ ignore }}" ]; then found=1; fi; done <.gitignore
    if [ ${found} -eq 0 ]; then echo "{{ ignore }}" >> .gitignore; git commit -am "ignored {{ignore}} path"; fi
{% endfor %}
git add . --all
git commit -am "backup {{ projectname }}"
git push origin master
cd /
rm -Rf /tmp/backup_{{ projectname }}
