version: '2'
services:
  db:
    image: mariadb:latest
    volumes:
      - "./db:/var/lib/mysql"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{dbrootpassword}}
      MYSQL_DATABASE: {{dbname}}
      MYSQL_USER: {{dbuser}}
      MYSQL_PASSWORD: {{dbpassword}}
      MARIADB_AUTO_UPGRADE: 1

  php{{phpversion}}:
    depends_on:
      - db
    build:
      context: ./config
      dockerfile: php.dockerfile
    image: php{{phpversion}}:fpm
    ports:
      - "127.0.0.1:{{port}}:9000"
    volumes:
      - ./www:/www
      - ./config/php.override.ini:/usr/local/etc/php/conf.d/override.ini
    restart: always

