# This adds security headers
#add_header X-Frame-Options "SAMEORIGIN";
add_header Strict-Transport-Security "max-age=15768000; includeSubDomains";
add_header X-XSS-Protection "1; mode=block";
add_header X-Content-Type-Options "nosniff";

# Redirect all www-less traffic to the www.site.com domain
# (you could also do the opposite www -> non-www domain)


{% if certificatespath %}

server {
    listen 80;
    server_name {{ hostname }} www.{{ hostname }};
    location / {
        return 301 https://{{ hostname }}$request_uri;
    }
}

server {
    listen 443 ssl;
    ssl_certificate {{ certificatespath }}/fullchain.pem;
    ssl_certificate_key {{ certificatespath }}/privkey.pem;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;
    server_name www.{{hostname}};
    return 301 https://$server_name$request_uri;
}

server {
        listen 443 ssl;

        ssl_certificate {{ certificatespath }}/fullchain.pem;
        ssl_certificate_key {{ certificatespath }}/privkey.pem;
        # ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_prefer_server_ciphers on;
        ssl_session_cache shared:SSL:10m;
        # ssl_dhparam /etc/ssl/private/dhparams_4096.pem;

{% else %}

server {
    listen 80;
    server_name www.{{hostname}};
    rewrite ^/(.*) http://{{hostname}}/$1 permanent;
}

server {
    listen 80;

{% endif %}

    add_header Content-Security-Policy "{{ contentsecuritypolicy }}";
    server_name {{hostname}};
    access_log /var/log/nginx/{{hostname}}.access.log;
    error_log /var/log/nginx/{{hostname}}.error.log;

    {% if static %}
    index index.html;
    {% else %}
    index index.php index.html;
    {% endif %}
    root {{ projectpath }}/www;
    client_max_body_size {{ phpuploadlimit}}m;
    location ~* \.(?:mp4)$ {
        mp4;
        expires 1y;
    }
    location ~* \.(?:m4s|ts|jpg|jpeg|png|gif|ico|css|js|woff|woff2|ttf|eot)$ {
        expires 1y;
        add_header Pragma public;
        add_header Cache-Control "public";
    }
    {% if static %}
    {% else %}
    {% if rewrite %}
        try_files $uri $uri/ /index.php?$args;
    {% endif %}
    {% endif %}

    location ~* /(?:uploads|files|wp-content|wp-includes|akismet)/.*.php$ {
        deny all;
        access_log off;
        log_not_found off;
    }

    location ~* /(xmlrpc.php|wp_cron.php)$ {
        deny all;
    }

    if ($request_method !~ ^(GET|POST)$ ){
        return 444;
    }

    {% if static %}
    location / {
    }
    {% else %}
    location ~ [^/]\.php(/|$) {
        fastcgi_index index.php;
        client_max_body_size {{ phpuploadlimit }}M;
        fastcgi_hide_header X-Powered-By;
        fastcgi_split_path_info ^(.+?\.php)(/.*)$;
        {% if certificatespath %}
        fastcgi_param  HTTPS 'on';
        {% endif %}
        fastcgi_param SCRIPT_FILENAME /www/$fastcgi_script_name;
        if (!-f $document_root$fastcgi_script_name) {
            return 404;
        }

        # Mitigate https://httpoxy.org/ vulnerabilities
        fastcgi_param HTTP_PROXY "";
        fastcgi_pass 127.0.0.1:{{ port }};
        include fastcgi_params;
        add_header X-Frame-Options SAMEORIGIN;
        add_header Strict-Transport-Security "max-age=31536000";
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";
    }
    {% endif %}
}
